#Modify this config file to customize SkateBoard

#Site Title (will appear in title bar, etc)
Title: Ballard's Talking Lawn

#Favicon (icon that appears on tab or address bar, depending on the browser)
#Path is relative to the web folder (./ to the php scripts)
Favicon: btl.ico

#Stylesheet (must be in the web/css folder, ./css to the php scripts)
Stylesheet: 

#Administration Credentials



#Type of Posts Allowed on Feed
Events: yes
Pictures: yes





