#Modify this config file to customize SkateBoard

#Site Title (will appear in title bar, etc)
Title: Ballard's Talking Lawn

#Favicon (icon that appears on tab or address bar, depending on the browser)
#Path is relative to the web folder (./ to the php scripts)
Favicon: btl.ico

#Stylesheet (must be in the web/css folder, ./css to the php scripts)
Stylesheet: default.css

#Database host, username, and password (not yet implemented)
DB_host: 127.0.0.1:3306
DB_user: root
DB_password: password

#Administration Credentials

#Welcome Message.  HTML is okay, including line breaks (<br>).  Otherwise, keep it all on one line, newlines will confuse SkateBoard.
Welcome: Welcome to Ballard's Talking Lawn!  <br />Project is still in beta, so not all features are up and running, and some are limited.

#Type of Posts Allowed on Feed
Events: yes
Pictures: yes





